API_URL=""
APP_URL=""
GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_ANALYTICS_ID=""
NEXT_PUBLIC_API_URL=""
NEXT_PUBLIC_APP_URL=""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_GOOGLE_MAPS_KEY=""
NEXT_PUBLIC_GOOGLE_SECRET=""
NEXT_PUBLIC_MAPBOX_API_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
NEXT_PUBLIC_POSTHOG_KEY=""
NODE_ENV=""