@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Fonts */
	--heading: "Bricolage Grotesque", sans-serif;
	--body: "Inter", sans-serif;

	/* Colors */
	--primay-50: #fef7ec;
	--primary-100: #eab221;
	--primary-200: #f17b2c;

	--neutral-100: #ffffff;
	--neutral-200: #f6f8fa;
	--neutral-300: #e2e4e9;
	--neutral-400: #868c98;
	--neutral-500: #525866;
	--neutral-600: #31353f;
	--neutral-700: #20232d;
	--neutral-800: #161922;
	--neutral-900: #0a0d14;
	--error-100: #fdedf0;
	--error-200: #f8c9d2;
	--error-300: #df1c41;
	--error-400: #af1d38;
	--error-500: #710e21;
	--warning-100: #fef7ec;
	--warning-200: #fbdfb1;
	--warning-300: #f2ae40;
	--warning-400: #b47818;
	--warning-500: #693d11;
	--white: #ffffff;

	--foreground: transparent;
	--background: transparent;
}

/* Removes scrollbar on Chrome */
::-webkit-scrollbar {
	width: 0;
}

/* Removes scrollbar on IE */
::-ms-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* Removes scrollbar on Firefox */
	scrollbar-width: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--white);
	color: var(--neutral-900);
	overflow-x: hidden;
	user-select: none;
	width: 100%;
	transition: colors 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition: colors 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: colors 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

img {
	image-rendering: crisp-edges -moz-crisp-edges;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading);
}

a,
p,
span,
button {
	font-family: var(--body);
}

/* Override WebKit autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: hsl(var(--foreground));
	-webkit-box-shadow: 0 0 0px 1000px hsl(var(--background)) inset;
	transition: background-color 5000s ease-in-out 0s;
}

/* Override Mozilla Firefox autofill styles */
input:autofill {
	background-color: hsl(var(--background)) !important;
	color: hsl(var(--foreground)) !important;
}

/* Removes arrows from input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

/* Removes close icon from input type search */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* link animation */
.link {
	width: fit-content;
	position: relative;
}

.link::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background: var(--neutral-500);
	transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
	-moz-transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
	-webkit-transition: width 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
	.link:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}

/* lexical */
.editor {
	width: 100%;
	min-height: 200px;
	border: 1px solid var(--neutral-400);
	border-radius: 4px;
	padding: 8px 4px;
	font-size: 16px;
	color: var(--neutral-700);
	transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.editor:focus {
	outline: none;
	border-color: var(--neutral-900);
}

.editor .text-bold {
	font-weight: bold;
}

.editor .text-italic {
	font-style: italic;
}

.editor .text-underline {
	text-decoration: underline;
}

.editor .text-line-through {
	text-decoration: line-through;
}

.editor .text-subscript {
	vertical-align: sub;
}

.editor .text-superscript {
	vertical-align: super;
}

.editor .text-highlight {
	background-color: yellow;
	color: var(--neutral-900);
}

.markdown {
	display: flex;
	flex-direction: column;
}

.markdown h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.markdown h6 {
	font-size: 14px;
	font-weight: 700;
	margin: 20px 0 8px;
}

.markdown p {
	font-size: 14px;
	color: #525866;
}

.markdown ul {
	list-style: none;
	padding-left: 12px;
}

.markdown li {
	display: list-item;
}
